<div class="contenedor">
  <div id="map" #map class="map-container"
        leaflet
        [leafletOptions]="options"
        (leafletMapReady)="onMapReady($event)">
  </div>
  <!-- <app-popup id="popup"
            [mostrarVentana]="mostrarVentana"
            [data]="estacionSeleccionada">
  </app-popup> -->

  <!-- [style.left]="ubicacion.left"
        [style.top]="ubicacion.top" -->

  <div class="agregar" (click)="mostrarAgregarEnModal()">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <span>Agregar estación</span>
  </div>

  <div class="modal superior-derecha"  *ngIf="mostrarAgregar">
    <div class="formulario">
      <form id="form-actualizar" [formGroup]="formAgregar" #myForm="ngForm">
        <div class="entrada">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre"formControlName="nombre">
        </div>
        <div class="entrada">
          <label for="temp">Temperatura</label>
          <input type="text" name="temp" id="temp" formControlName="temp">
        </div>
        <div class="entrada">
          <label for="latitud">Latitud</label>
          <input type="text" name="latitud" id="latitud" formControlName="latitud">
        </div>
        <div class="entrada">
          <label for="longitud">Longitud</label>
          <input type="text" name="longitud" id="longitud" formControlName="longitud">
        </div>
        <div class="botones-form">
          <input type="submit" (click)="crearEstacion()" value="Guardar">
          <button (click)="ocultarAgregarEnModal()">Cancelar</button>
        </div>
      </form>

    </div>
  </div>

  <div class="modal inferior-izquierda" *ngIf="mostrarVentana">
    <i class="fa fa-times-circle close" aria-hidden="true" (click)="cerrarVentanaInformativa()"></i>
    <div class="informacion" *ngIf="!mostrarFormulario">
      <p class="title">{{ estacionSeleccionada.ubication }}</p>
      <div class="col" style="padding-bottom: 0.5rem;">
        <div class="subtitle">
          <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
          <span> Temperatura</span>
        </div>
        <span>{{ estacionSeleccionada.temperature }}</span>
      </div>
      <hr>
      <div class="subtitle">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <span> Ubicación</span>
      </div>
      <div class="col contenido-ubicacion">
        <div class="col">
          <span>Latitud</span>
          <span>{{ estacionSeleccionada.latitude }}</span>
        </div>
        <div class="col">
          <span>Longitud</span>
          <span>{{ estacionSeleccionada.longitude }}</span>
        </div>
      </div>
      <div class="pie">
        <button (click)="iniciarActualizacion()">Editar información</button>
      </div>
    </div>

    <div *ngIf="mostrarFormulario">
      <form id="form-actualizar" [formGroup]="formActualizar" #myForm="ngForm">
        <div class="icon-delete">
          <i class="fa fa-trash " aria-hidden="true" (click)="eliminarEstacion()"></i>
        </div>
        <div class="entrada">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre"formControlName="nombre">
        </div>
        <div class="entrada">
          <label for="temp">Temperatura</label>
          <input type="text" name="temp" id="temp" formControlName="temp">
        </div>
        <div class="entrada">
          <label for="latitud">Latitud</label>
          <input type="text" name="latitud" id="latitud" formControlName="latitud">
        </div>
        <div class="entrada">
          <label for="longitud">Longitud</label>
          <input type="text" name="longitud" id="longitud" formControlName="longitud">
        </div>
        <div class="botones-form">
          <input type="submit" (click)="actualizarEstacion()" value="Guardar">
          <button (click)="ocultarFormularioEnModal()">Cancelar</button>
        </div>
      </form>

    </div>

  </div>

</div>

<!-- (leafletClick)="mapClicked($event)" -->


